<div class="edit_user_wrapper">
	<div class="container marketing">

		<h1>User Preferences</h1>

		<% if flash[:notice] %>
			<p class="flash_message_landing"><%= flash[:notice] %></p>
			<br>
		<% end %>

		<%= render 'form' %>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<%= link_to 'Delete My Account', user_path(@user), :method => :delete %>

	</div>
</div>