/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


  /*  Non-Screen-Size Dependent CSS   */

html, body {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 300 !important;
}

.text-xs-right {
	/*color: gray;*/
}

  /*  Flash Messages   */

.flash_message_login {

}

.flash_message_landing {
	
}

.lognav {
	float: right;
}

.lognav li {
	padding-right: 15px;
}

.signlog_link {
	padding-left: 10px;
	font-size: 85%;
}


  /*  Screen-Size Dependent CSS   */

@media (min-width: 544px) {

/*  Main Landing Page  */

	.nav1 li {
		width: 100px;
		text-align: center;
		padding-top: 25px;
		/*min-height : 45px;*/
	}

/*  Login/Logout/Preferences Links in Navbar  */

	.lognav li {
		width: 100px;
	}

	.pref {
		padding-right: 10px;
		padding-top: 32px !important;
	}

/*	.nav1 ul {
		padding-left: 20%;

	}*/

	.bg-faded {
		height: 100px;
		background-color: #fafafa;
	}

	.midlog {
		
		height: 385px;
	}

	.midlog:hover {
		background-color: #f6f6f6;
	}

	.mid {
		background-color: #fafafa;
		height: 385px;
	}

	.mid:hover {
		background-color: #f6f6f6;
	}

	.col-md-7:hover {
		background-color: #fafafa;
	}

}